@import "src/styles/variables";

.Speaker {
  display: flex;
  flex: 1 1 350px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
  text-align: center;
  max-width: 350px;

  .Speaker-headshot {
    width: 100%;
    min-height: 320px;
  }

  .Speaker-social {
    .Speaker-social-icon {
      font-size: 1.25em;
      color: $black;
      margin: 0.5em;
    }
  }
}
