@import 'src/styles/variables';

.TempHeroSection-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 30vw;
  padding-top: 20vw;

  .hero-image-container {
    width: 100%;
  }

  .dates {
    color: #3976B8;
    text-align: center;
    margin-top: 4vw;
  }
}
