@import "src/styles/variables";
.strike-through {
  text-decoration: line-through;

  &--orange {
    text-decoration-color: $orange;
  }
}

.text--pink {
  color: $pink;
}

.text--cream {
  color: $cream;
}