@import "src/styles/variables";
//@import "debug";

.strike-through {
  text-decoration: line-through;

  &--orange {
    text-decoration-color: $orange;
  }
}

.text--pink {
  color: $pink;
}

.text--cream {
  color: $cream;
}

.text--orange {
  color: $orange;
}

#snipcart {
  .snipcart-modal__container {
    z-index: 9999;
    background-color: black;
  }
  h2 {
    letter-spacing: normal;
  }
}
