@import "src/styles/variables";

.ScheduleNavigator {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8vw;

  .ScheduleNavigator-jump-to-month {
    color: $cream;
    margin-bottom: 0.25em;
  }

  .ScheduleNavigator-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    border: 1px solid $cream;

    .month-link {
      padding: 1em;
      margin-bottom: 0;

      a {
        text-decoration: none;
        font-size: 8vw;
        font-weight: 700;
        line-height: 1em;
      }

      &.orange {
        a {
          color: $orange;
        }
      }

      &.pink {
        a {
          color: $pink;
        }
      }

      &.aqua {
        a {
          color: $aqua;
        }
      }

      &.darkPink {
        a {
          color: $dark-pink;
        }
      }

      &.blue {
        a {
          color: $blue;
        }
      }
    }
  }
}
