@import "src/styles/variables";

.Header {
  display: flex;
  position: fixed;
  padding: 0.5em 1em 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  top: 0;

  .logo {
    width: 6em;
  }

  .navigation-actions {
    display: flex;
    flex-direction: row;
  }

  .swag-bag-link {
    margin-right: 1em;
    align-self: center;
  }

  .header-name {
    justify-self: center;
    color: $blue;

    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}
