h1 {
  /*font-size: 2em;*/
  margin: 0.67em 0;
}
body {
  font-weight: normal;
  word-wrap: break-word;
  letter-spacing: 0.1em;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
  font-size: 1.5em;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.hero-section {
  position:fixed;
  top: 0;
  background-color: #F3E3DB;
  padding-top: 8em;
}

.hero-section-dark {
  position: relative;
  top: 100vh;
  min-height: 100vh;
  background-color: #231F20;
}

/*h3 {*/
/*  position: sticky;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*  top: 1em;*/
/*}*/

.hero-section h3 {
  text-align: center;
  position: sticky;
  top: 1em;
  color: #3976B8;
}

.hero-image {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-image.alt {
  position: absolute;
  /*top: 0;*/
  left: 0;
  transform: translate(0, 0);
  /*padding-left: inherit;*/
  /*padding-right: inherit;*/
}

.hero-image-dark {
  margin-top: 5em;
  width: 100%;
  height: 30em;
  background: white;
}

.content {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width:100%;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height:100%;*/
  min-height: 100vh;
  width:100%;
  padding: 4em;
}

.hero {
  background-color: #F3E3DB;
}

.hero.dark {
  position: relative;
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.dark {
  background-color: #231F20;
  color: #F3E3DB;
}

.underline {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.underline.orange {
  text-decoration-color: #FBA81A;
}

.underline.pink {
  text-decoration-color: #F38EBA;
}

.btn {
  background-image: linear-gradient(to right, #FBA81A 0%, #F38EBA 100%);
  border-radius: 40px;
  box-sizing: border-box;
  height: 40px;
  color: #F3E3DB;
  display: block;
  margin: 0 auto;
  padding: 2px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 180px;
  min-width: 180px;
  z-index: 2;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #F3E3DB;
}

.btn span {
  align-items: center;
  background: #231F20;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background .5s ease;
  width: 100%;
}

.btn:hover span {
  background: transparent;
}

.cta {
  display: flex;
  justify-content: center;
}

.cta .content{
  flex: 0 1 auto;
}

.snag-tickets {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 655px;
  margin-right: auto;
}

.snag-tickets .row {
  display: flex;
}

.snag-tickets .row .btn {
  margin-left: 4em;
}

.section.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #6BC4D5;
}

.section.about .content {
  flex: 0 1 auto;
  width: 60%;
  min-width: 655px;
  margin-right: auto;
}

.section.about .creature-of-habit {
  width: 420px;
}

main {
  min-height: 100vh;
}

/*.panel {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  flex: 1;*/
/*  align-items: center;*/
/*  position:relative;*/
/*  height: 100vh;*/
/*  min-height: 100vh;*/
/*  width:100%;*/
/*}*/
