.SeeYouThereSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vw 0 30vw;

  .illustration-container {
    mix-blend-mode: screen;
    max-width: 500px;

    margin-bottom: 8vw;
  }

  .btn {
    flex: 1;
    max-width: 280px;
  }
}
