@import "src/styles/variables";

.CtaSection-content {
  display: flex;
  flex-direction: column;
  color: $cream;
  justify-content: flex-start;
  padding: 12vw 0 55vw;

  @media only screen  and (min-width : 1200px) {
    padding-bottom: 30em;
  }
}

.CtaSection-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -1em;

  .CtaSection-brief {
    margin: 1em;
    flex: 3;
    min-width: 60%;

    @media only screen  and (max-width : 600px) {
      width: 100%;
      //min-width: auto;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  .btn {
    flex: 1;
    margin: 1em;
  }
}

.CtaSection-illustration {
  position: absolute;
  right: 0;
  bottom: -3em;
  width: 200px;
}
