@import "src/styles/variables";

.Popout {
  padding: 2em 1em;
  background-color: $aqua;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  clip-path: circle(10% at 88% 90%);
  transition: all .5s ease-in-out;
  z-index: 999;

  &.open {
    border-radius: 8px;
    clip-path: circle(75%);
    background-color: $cream;

    //.Popout--toggle-button {
    //  top: 0;
    //  right: 0;
    //  position: absolute;
    //  border-radius: 8px;
    //  box-shadow: none;
    //  border-color: transparent;
      //width: 2em;
      //height: 2em;

      //.Popout--close-icon {
      //  position: absolute;
      //  top: 50%;
      //  left: 50%;
      //  transform: translate(-50%, -50%);
      //}
    //}

    //.Popout--content {
    //  padding: 1em;
    //}
  }

  .Popout--toggle-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;

    &:active {
      box-shadow: none;
      border: none;
    }
  }

  .Popout--open-icon {
    animation: wiggle 2.5s infinite;
  }

  @keyframes wiggle {
    0% { transform: rotate(0deg) }
    80% { transform: rotate(0deg) }
    85% { transform: rotate(5deg) }
    95% { transform: rotate(-5deg) }
    100% { transform: rotate(0deg) }
  }
}
