@import "src/styles/variables";

.Popout {
  padding: 2em 1em;
  background-color: $aqua;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  clip-path: circle(8% at 90% 93%);
  transition: all .5s ease-in-out;
  z-index: 999;

  &.open {
    border-radius: 8px;
    clip-path: circle(75%);
    background-color: $cream;
  }

  &.closed {
    .Popout--toggle-button {
      animation: wiggle 2.5s infinite;
      transform-origin: center bottom;
    }
  }

  .Popout--toggle-button {
    position: absolute;
    padding: 0;
    right: 0.4em;
    bottom: 0.1em;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    border: none;
    outline: none;

    &:active {
      box-shadow: none;
      border: none;
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    65% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-8deg);
    }
    85% {
      transform: rotate(8deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
