@import '../../../../styles/variables';

.Navigation {
  justify-self: flex-end;
  width: 2em;
  margin: 1em;
  cursor: pointer;

  .line {
    background-color: $blue;
    display: block;
    height: 4px;
    width: 100%;

    &:first-child {
      margin-bottom: 0.5em;
    }
  }
}
